@page
@using Portal.Ibanez.Localization
@using Portal.Ibanez.Web.Pages.MachineDocuments
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<IbanezResource> L

@section scripts
{
    <abp-script src="/Pages/MachineDocuments/Index.js" />
}
<input type="hidden" id="MachineId" value="@Model.MachineId" />
<abp-card>

    <abp-card-header>

        <abp-row>

            <abp-column size-md="_6">
                <h2>@Model.Title</h2>
            </abp-column>

            <abp-column size-md="_6" class="text-end">

                <abp-button id="NewMachineDocumentButton"
                            text="Nuevo documento"
                            icon="plus"
                            button-type="Primary" />

            </abp-column>

        </abp-row>

    </abp-card-header>

    <abp-card-body>

        <abp-table striped-rows="true"
                   id="MachineDocumentsTable">
        </abp-table>

    </abp-card-body>

</abp-card>